{%extends 'base.html'%}
{%block content%}
<div class="container pb-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 p-3">
            <a href=" {{project.link}} "> <h4 class="text-center"> {{project.title}} </h4></a>
            <div class="card">
                <img src=" {{project.project_image.url}} " alt="" class='img-fluid'>
                <div class="class-footer d-flex">
                    <img src=" {{project.author.profile.profile_photo.url}} " alt="" class='img-fluid rounded-circle ml-3' style='height: 50px;width: 50px;'>
                    <a href=" {%url 'profile' profile.author.username%} "><small class="ml-3 pt-3">By {{project.author}}</small></a>
                </div>

            </div>
            <p class="pt-3 mt-3 text-center"> {{project.description}} </p>
            <div class="d-flex justify-content-center">
                <a href="{%url 'rate-project' project_id=project.id%} " class="btn btn-outline-dark">Rate</a>
            </div>
            <p>{{project.rate_usability}} </p>
            {%if project.author == user%}
            <a href=" " class="btn btn-secondary btn-sm mt-1 mb1">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb1" href="">Delete</a>
            {%endif%}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{%endblock%}